/*=== Aplicando CSS Global===*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul#opciones li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #FC7300;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #EFF5F5;
}
h1, h2{
    color:#FC7300;
    text-align: center;
    background-color:#00425A;
    padding: 3%;
    width: 90%;
    margin:auto;
    position:relative;
    border-radius: 25px;
}
label{
    color:#FC7300;
    text-align: center;
    background-color:#00425A;
    padding: 3%;
}

/*=== Aplicando CSS al encabezado===*/

#logo{
    /*width: 25%;*/
    margin: auto;
    /*padding-top: 10px;*/
}
/*
#menu{
    width: 65%;
    text-align: center;
}
*/




/*=== Aplicando comportamiento resposive o adaptativo===*/
/* Medium devices (tablets, 768px and up)*/
/*=== Trabajando con CSS-GRID===*/
@media (min-width: 768px) { 
    /*=== Aplicando CSS al encabezado===*/
    #encabezado{
        display: grid;
        grid-template-columns: 1fr 4fr; /*Medidas: px em rem % fr*/
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: rgba(8, 42, 80, 0.85);
        font-weight: bold;
    }
    #menu{
        display: grid;
        grid-template-columns: 1fr;
    
    }
    #opciones{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    
    /*=== Aplicando CSS al Footer===*/
    #piePagina{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 0.5fr;
        justify-items: center;
        align-items: center;
        background-color: #00425A;
        color: #FC7300;
    }
    #redesSociales{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
    ion-icon{
        color: #FC7300;
        font-size: 3rem;
    }


}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    section#galeria{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
}
